$interface-line: 1px solid lightgray;
$interface-highlight: red;
$interface-hover-color: lightgrey;
$edit-highlight: blue;
$interface-background: white;

$ff1: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff2: 'Oswald', sans-serif;

/******** Mixings *************/
@mixin off-page-north() {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tooltip($direction: south, $distance: -50px) {
  &[data-tooltip]:hover:after {
    @if ($direction == south) {
      transform: translate(#{$distance}, 25px);
    }
    @if ($direction == east) {
      transform: translate(0px, #{$distance});
    }
    z-index: 1;
    white-space: nowrap;
    position: absolute;
    content: ' ' attr(data-tooltip) ' ';
    font-size: 12px;
    color: white;
    background-color: grey;
    min-width: 100px;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px;
  }
}

/*********** SCSS *********/

.edit-mode {
  //  transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px dashed $edit-highlight;
  &:hover {
    border-style: solid;
  }
}

.interface {
  & div,
  nav,
  section {
    background-color: $interface-background;
  }
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50px calc(100vw - 50px);
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-areas:
    'corner top'
    'left main';
  & .stick-scroll {
    //Makes all columns independantly scrollable
    position: sticky;
    top: 50px;
    overflow: auto;
  }
  & nav {
    & button {
      margin: 12px;
      font-size: 26px;
    }
    &.corner {
      grid-area: corner;
    }
    &.top {
      grid-area: top;
      height: 50px;
      border-bottom: $interface-line;
      display: flex;
      justify-content: space-between;
      width: 100%;
      & button {
        @include tooltip('south', '-50px');
      }
    }

    &.left {
      grid-area: left;
      border-right: $interface-line;
      & button {
        @include tooltip('east', '0px');
      }
    }
  }
  & main {
    grid-area: main;
    overflow: auto;
  }
  & button {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    vertical-align: text-bottom; // This corrects an issue with aligning icons to text.
    background-color: transparent;
    &:hover {
      color: $interface-highlight;
    }
    &.view-toggle.open {
      color: $interface-highlight;
    }
    &.icon {
      vertical-align: text-bottom; // This corrects an issue with aligning icons to text.
      &:before {
        @include center();
      }
    }
  }
  & .dialog.alert {
    @include off-page-north();
    width: 300px;
    min-height: 150px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 30px grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    align-items: center;
    grid-template-areas:
      'title title'
      'message message'
      'no yes';

    & .title,
    .message {
      font-size: 12px;
      margin: 10px;
    }
    & .title {
      grid-area: title;
      text-transform: uppercase;
      font-weight: 500;
    }
    & .message {
      grid-area: message;
    }
    & button {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      &.no {
        grid-area: no;
      }
      &.yes {
        grid-area: yes;
      }
    }
    &.open {
      animation-name: dialog-alert-open;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    &.true {
      animation-name: dialog-exit-right;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    &.false {
      animation-name: dialog-exit-left;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
  }
  & .shrink {
    position: fixed;
    top: 75px;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 26px;
    padding: 12px;
    transform: translateX(100px);
    transition: all 2s ease-in-out;
    &.open {
      transform: translateX(0px);
      box-shadow: 10px 10px 30px grey;
    }
  }
  & [draggable='true'] {
    cursor: move;
  }
}

@keyframes dialog-alert-open {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

@keyframes dialog-exit-right {
  0% {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  100% {
    opacity: 0;
    transform: translate(100vw, -50%);
    top: 50%;
  }
}
@keyframes dialog-exit-left {
  0% {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  100% {
    opacity: 0;
    transform: translate(-100vw, -50%);
    top: 50%;
  }
}

@keyframes slide-view-in {
  0% {
    transform: translateX(100%);
    //       box-shadow:-5px -5px 10px grey;
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-view-out {
  0% {
    z-index: 10;
  }
  100% {
    z-index: 0;
  }
}

@keyframes -open {
  0% {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
  }
  100% {
    padding-left: 10px;
    max-height: 1000px;
  }
}
@keyframes -close {
  0% {
    max-height: 1000px;
  }
  100% {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    padding-left: 0px;
    //       display: none;
  }
}
