.nav-button-wrapper {
  //   margin: 0 auto;
  display: flex;
  align-items: center;
  height: 64px;
  & button {
    margin: 0 2% !important;
  }
  @include desktop {
    justify-content: right;
    flex-grow: 1;
    &.hide-nav{
      animation: desktop-hide-nav-buttons 0.2s forwards;
    }
    &.show-nav{
      animation: desktop-show-nav-buttons 1s forwards;
    }
  }
  @include mobile {
    justify-content: center;
    background: rgba(1,47,56,1);
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &.hide-nav{
      animation: mobile-hide-nav-buttons 0.5s forwards;
    }
    &.show-nav{
      animation: mobile-show-nav-buttons 1s forwards;
    }

  }
  @keyframes mobile-hide-nav-buttons {
    0% {
    }
    100% {
      bottom: -100px;
    }
  }
  @keyframes mobile-show-nav-buttons {
    0% {
      bottom: -100px;
    }
    100% {

    }
  }
  @keyframes desktop-hide-nav-buttons {
    0% {
      // visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: none;
    }
  }
  @keyframes desktop-show-nav-buttons {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}