@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 300;
  src: url('assets/fonts/euclid/EuclidFlex-Light-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidFlex-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 500;
  src: url('assets/fonts/euclid/EuclidFlex-Medium-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 600;
  src: url('assets/fonts/euclid/EuclidFlex-Semibold-WebS.woff2') format('woff2');
}

/*

@font-face {
  font-family: 'EuclidTriangle';
  font-display: swap;
  font-weight: 300;
  src: url('assets/fonts/euclid/EuclidTriangle-Light-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidTriangle';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidTriangle-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidTriangle';
  font-display: swap;
  font-weight: 500;
  src: url('assets/fonts/euclid/EuclidTriangle-Medium-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidTriangle';
  font-display: swap;
  font-weight: 600;
  src: url('assets/fonts/euclid/EuclidTriangle-Semibold-WebS.woff2') format('woff2');
}

/*

@font-face {
  font-family: 'EuclidCircularA';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidCircularA-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidCircularB';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidCircularB-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidSquare';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidSquare-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidTriangle';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidTriangle-Regular-WebS.woff2') format('woff2');
}


@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 300;
  src: url('assets/fonts/euclid/EuclidFlex-Light-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/euclid/EuclidFlex-Regular-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 500;
  src: url('assets/fonts/euclid/EuclidFlex-Medium-WebS.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 600;
  src: url('assets/fonts/euclid/EuclidFlex-Semibold-WebS.woff2') format('woff2');
}

/*
@font-face {
  font-family: 'EuclidFlex';
  font-display: swap;
  font-weight: 700;
  src: url('assets/fonts/euclid/EuclidFlex-Bold-WebS.woff2') format('woff2');
}
*/
