/* FLEX LAYOUT */
$dt: 960px;

.Pound::before {
  content: '£';
}
.CB {
  background-color: $CB;
}
.CB-05 {
  background-color: $CB-05;
}
.CB-1 {
  background-color: $CB-1;
}
.CB-2 {
  background-color: $CB-2;
}
.CB-3 {
  background-color: $CB-3;
}
.CB-4 {
  background-color: $CB-4;
}
.CB-5 {
  background-color: $CB-5;
}
.CB-6 {
  background-color: $CB-6;
}
.CB-7 {
  background-color: $CB-7;
}
.CB-8 {
  background-color: $CB-8;
}
.CB-9 {
  background-color: $CB-9;
}

.GBC-1 {
  background-image: $GBC-1;
}
.GBC-2 {
  background-image: $GBC-2;
}
.GBC-3 {
  background-image: $GBC-3;
}
.GBC-4 {
  background-image: $GBC-4;
}
.GBC-5 {
  background-image: $GBC-5;
}
.GBC-6 {
  background-image: $GBC-6;
}
.GBC-7 {
  background-image: $GBC-7;
}
.GBC-8 {
  background-image: $GBC-8;
}
.GBC-9 {
  background-image: $GBC-9;
}



.prefix_pound:before, .pound:before{
  content: '\00A3';
}

.default-title {
  margin-bottom: .5rem;
  @include font-size(2);
}

.price {
font-family: $ff2;
}

.background-blue{
  background-image:linear-gradient(90deg, rgba(33,147,176,1) 0%, rgba(32,184,219,1) 100%);;
  }