:root {
    //   ROUNDING
    --round-outer: 5px;
    --round-inner: 3px;
    --round-none: 0px;

    // ELEVATION
    --elevation-high: 2px 5px 7px rgba(0, 0, 0, 0.2);
    --elevation-flat: none;

    //CARD
    --card-with-border: transparent 5px solid;
    --card-without-border: none;

    --primary-font-family: 'EuclidFlex', 'Oswald', sans-serif;
    --surface-semi-transparent: rgba(255, 255, 255, 0.3);

    & body {
        // Color themes moved to bottom
        &.theme-rounding-rounded {
            --corner-outer: var(--round-outer);
            --corner-inner: var(--round-inner);
        }
        &.theme-rounding-square {
            --corner-outer: var(--round-none);
            --corner-inner: var(--round-none);
        }
        &.theme-elevation-high {
            --box-shadow: var(--elevation-high);
        }
        &.theme-elevation-flat {
            --box-shadow: var(--elevation-flat);
        }
        &.theme-card-polaroid {
            --card-border: var(--card-with-border);
        }
        &.theme-card-simple {
            --card-border: var(--card-without-border);
        }
    }
}
