:root {
   // @include generate-shades('example', 200, 75, 25);
// COLORS
    --darkest-martini:  black;
    --dark-martini: #05053c;
    --highlight-martini:#d91016;
    --light-martini: 	#2fb8ec;
    --lightest-martini: #EBEEF3;
   
   // https://www.gulfoilltd.com/gulf-livery  https://color.adobe.com/-Racing-color-theme-8083036/ 
   --darkest-gulf:  black;
   --dark-gulf:  #002776;
    --highlight-gulf: #ff6319;
   --light-gulf: #b8d8eb; //  --bluer-gulf: #88B3C6;
    --lightest-gulf: #FFFFFF;

 //   ROUNDING
--round-outer: 5px;
--round-inner: 3px;
--round-none: 0px;

// ELEVATION 
--elevation-high: 2px 5px 7px rgba(0,0,0, 0.2);
--elevation-flat: none; 

//CARD
--card-with-border: transparent 5px solid;
--card-without-border: none;



    & body{
&.theme-color-martini{
   --color-darkest: var(--darkest-martini);
   --color-dark: var(--dark-martini);
   --color-highlight: var(--highlight-martini);
   --color-light: var(--light-martini);
   --color-lightest: var(--lightest-martini);
   &.theme-lightness-dark{
      --color-darkest: var(--lightest-martini);
      --color-dark: var(--light-martini);
      --color-highlight: var(--highlight-martini);
      --color-light: var(--dark-martini);
      --color-lightest: var(--darkest-martini);
   }

}
&.theme-color-gulf{
   --color-darkest: var(--darkest-gulf);
   --color-dark: var(--dark-gulf);
   --color-highlight: var(--highlight-gulf);
   --color-light: var(--light-gulf);
   --color-lightest: var(--lightest-gulf);
   &.theme-lightness-dark{
      --color-darkest: var(--lightest-gulf);
      --color-dark: var(--light-gulf);
      --color-highlight: var(--highlight-gulf);
      --color-light: var(--dark-gulf);
      --color-lightest: var(--darkest-gulf);
   }
}
&.theme-rounding-rounded{
   --corner-outer: var(--round-outer);
   --corner-inner: var(--round-inner);
}
&.theme-rounding-square{
   --corner-outer: var(--round-none);
   --corner-inner: var(--round-none);
}
&.theme-elevation-high{
   --box-shadow: var(--elevation-high);
}
&.theme-elevation-flat{
   --box-shadow: var(--elevation-flat);
}
&.theme-card-polaroid{
 --card-border: var(--card-with-border);
}
&.theme-card-simple{
   --card-border: var(--card-without-border);
}
    }
}

