.split-box {
  & .figure {
    @include aspect-ratio(2, 1);
  }

  & .Alternate.random {
    @include mobile {
      //   width: 100%;
      &.style-1,
      &.style-2 {
        & figure {
          @include aspect-ratio(4, 5);
        }
      }
      &.style-3,
      &.style-4 {
        & figure {
          @include aspect-ratio(3, 2);
        }
      }
      &.style-5,
      &.style-6 {
        & figure {
          @include aspect-ratio(1, 1);
        }
      }
      &.style-7,
      &.style-8,
      &.style-9 {
        & figure {
          @include aspect-ratio(1.62, 1);
        }
      }
    }
    @include desktop() {
      &.style-1 {
        & .image-box {
          width: 45%;
        }

        & figure {
          @include aspect-ratio(3, 2);
        }

        & .text-box {
          width: 35%;
        }
      }

      &.style-2 {
        & .image-box {
          width: 40%;
        }

        & figure {
          @include aspect-ratio(8, 5);
        }

        & .text-box {
          max-width: 35%;
        }
      }
      &.style-3 {
        justify-content: center;

        & .image-box {
          width: 30%;
        }

        & figure {
          @include aspect-ratio(1, 1);
        }

        & .text-box {
          max-width: 30%;
        }
      }
      &.style-4 {
        & .image-box {
          width: 45%;
        }

        & figure {
          @include aspect-ratio(5, 4);
        }

        & .text-box {
          max-width: 35%;
        }
      }
      &.style-5 {
        justify-content: center;

        & .image-box {
          width: 40%;
        }

        & figure {
          @include aspect-ratio(4, 3);
        }

        & .text-box {
          max-width: 35%;
        }
      }
      &.style-6 {
        //     justify-content: center;
        & .image-box {
          width: 40%;
        }

        & figure {
          @include aspect-ratio(1, 1);
        }

        & .text-box {
          max-width: 40%;
        }
      }
      &.style-7 {
        & .image-box {
          width: 45%;
        }

        & figure {
          @include aspect-ratio(1.62, 1);
        }

        & .text-box {
          max-width: 35%;
        }
      }
      &.style-8 {
        & .image-box {
          width: 35%;
        }

        & figure {
          @include aspect-ratio(1, 1);
        }

        & .text-box {
          max-width: 35%;
        }
      }
      &.style-9 {
        & .image-box {
          width: 45%;
        }

        & figure {
          @include aspect-ratio(3, 2);
        }

        & .text-box {
          max-width: 35%;
        }
      }
    }
  }

  & h4 a {
    color: #00b8d4;
    cursor: pointer;
  }
}