/* COLORS */
.text-{
  &color_{
    &blue,
    &aqua{
      color: $aqua;
    }

    &green{
      color: $green;
    }

    &white{
      color: #fff;
    }

    &red,
    &error{
      color: $red;
    }

    &orange{
      color: $orange;
    }

    &gradient{
      background: linear-gradient(white, #FAFAFA);
    }
    &grey {
      color: $CB;

      &10 {
        color: $CB-1;
      }
      &20 {
        color: $CB-2;
      }
      &30 {
        color: $CB-3;
      }
      &40 {
        color: $CB-4;
      }
      &50 {
        color: $CB-5;
      }
      &60 {
        color: $CB-6;
      }
      &70 {
        color: $CB-7;
      }
      &80 {
        color: $CB-8;
      }
      &90 {
        color: $CB-9;
      }
    }
  }
}
