.auth-form, .user-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  .password-field {
    .show-hide-button {
      font-size: 1em;
      margin: 0;
    }
  }

  .attending-field {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    width: 100%;
  }
}


.social-media-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 0.75em;

  .spacer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 90%;

    .inline-spacer {
      flex: 1;
      height: 0;
      border-bottom: $ct 1px solid;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}
