@font-face {
  font-family: 'EuclidFlex';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Euclid Trial/Euclid Flex Trial/Web/EuclidFlex-Bold-WebTrial') format('woff');
}
