



@use 'reset';
@use 'themes';
@use 'font-family';
@use 'transitions';
@use 'css-variables';

main {
    container-type: inline-size;
    container-name: main;
    width: 100%; // Add explicit width
}
