

$dt: 960px;





@mixin desktop() {
    @media screen and (min-width: $dt) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: $dt) {
        @content;
    }
}

// ASPECT RATIO To create an aspect ratio: https://keithjgrant.com/posts/2017/03/aspect-ratios/




@mixin parallax($speed) {
    animation: parallax linear both;
    animation-timeline: view();
    animation-range: entry 100% cover 100%;
    --parallax-speed: #{$speed};
}
